
@charset "utf-8"

.setting_left {
	background-color: #fff;
	-webkit-box-shadow: 0 0 10px #ccc;
	-moz-box-shadow: 0 0 10px #ccc;
	box-shadow: 0 0 10px #ccc;
	padding:0;
}


.setting_left li {
    position: relative;
    padding-left: 10px;
    border-bottom: 1px solid #e6e8e9;
    margin-bottom: -1px;
    transition:all 0.35s;
}

.setting_left a {
    display: block;
    height: 59px;
    line-height: 59px;
    font-size: 14px;
    color: inherit;
    border-color: transparent;
    -webkit-transition: color, border-color 0.2s;
    -moz-transition: color, border-color 0.2s;
    -ms-transition: color, border-color 0.2s;
    transition: color, border-color 0.2s;
}

.setting_left li:hover, .setting_left .blog_active{
    padding-left:36px;
    color: #005588;
    transition:all 0.35s;
}


.setting_right {
	background-color: #fff;
    -webkit-box-shadow: 0 0 10px #ccc;
    -moz-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
    position: relative;
    padding: 0 30px 30px 30px;
    min-height: 500px;
    padding-bottom: 200px;
}

#upload_img {
	margin: 0 auto;
	padding-top: 100px;
}
#upload_img img {
    min-height:230px;
}
.progress {
    margin-top: 140px;
}
.avator_btn_wrap {
	position: relative;
}
.avator_btn {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
#signature {
    height: 200px;
}