
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>慕课网</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
<meta name="renderer" content="webkit">
<meta property="qc:admins" content="77103107776157736375" />
<meta property="wb:webmaster" content="c4f857219bfae3cb" />
<meta http-equiv="Access-Control-Allow-Origin" content="*" />
<meta http-equiv="Cache-Control" content="no-transform " />
<meta name="keywords" content="慕课网，慕课官网，MOOC，移动开发，IT技能培训，免费编程视频，php开发教程，web前端开发，在线编程学习，html5视频教程，css教程，ios开发培训，安卓开发教程" />
<meta name="description" content="慕课网（IMOOC）是学习编程最简单的免费平台。慕课网提供了丰富的移动端开发、php开发、web前端、html5教程以及css3视频教程等课程资源。它富有交互性及趣味性，并且你可以和朋友一起编程。" />

<link rel="stylesheet" href="/static/css/base.css" type="text/css" />
<link rel="stylesheet" href="common-less.css" type="text/css" />
<script type="text/javascript">

      var OP_CONFIG={"module":"user","page":"setprofile","userInfo":{"uid":"1970734","nickname":"chickencyj","head":"http:\/\/img.mukewang.com\/user\/545845e900013e3e02200220-80-80.jpg","usertype":"1","roleid":0}};
  var isLogin = 1;
var is_choice = "";
  var seajsTimestamp="v=201606221750";
    var ownName="280929083@qq.com"
  </script>
 
<!--
<link rel="stylesheet" href="/static/component/logic/login/login-regist.css" type="text/css" />
<link rel="stylesheet" href="/static/css/settings.css" type="text/css" />
-->
<link rel="stylesheet" href="/static/css/user/settings/common-less.css" type="text/css" />
<link rel="stylesheet" href="/static/css/user/settings/profile-less.css" type="text/css" />

</head>
<body >

<div id="header">
    <div class="page-container" id="nav">
        <div id="logo" class="logo"><a href="/" target="_self" class="hide-text">慕课网</a></div>


        <button type="button" class="navbar-toggle visible-xs-block js-show-menu" >
            <i class="icon-menu"></i>
        </button>
        <ul class="nav-item">
                                <li class="set-btn visible-xs-block"><a href="/u/1970734" target="_self"><img src='http://img.mukewang.com/user/545845e900013e3e02200220-40-40.jpg' width='40' height='40' /></a>
                                <li>
                     <a href="/" target="_self">首页</a>
                </li>
                <li>
                    <a href="http://coding.imooc.com" target="_self">实战</a>
                </li>
                <li><a href="/course/program"  target="_self">计划</a></li>
                <li><a href="/wenda"  target="_self">猿问</a></li>
                <li><a href="/article"  target="_self">手记</a></li>
                                                        <li class="visible-xs-block"><a href="/user/setprofile" target="_self">我的设置</a></li>
                    <li class="visible-xs-block"><a href="/passport/user/logout?referer=http://www.imooc.com" target="_self">退出</a></li>
                
        </ul>

                <div id="login-area">
            <ul class="clearfix logined">
                <li class="header-app">
                    <a href="/mobile/app" >
                        <span class="icon-appdownload"></span>
                    </a>
                    <div class="QR-download">
                        <p id="app-text">慕课网APP下载</p>
                        <p id="app-type">iPhone / Android / iPad</p>
                        <img src="/static/img/index/QR-code.jpg">
                    </div>
                </li>
                <li class='remind_warp'>
                    <i class="msg_remind"></i>
                    <a target="_blank" href='/u/1970734/notices'><i class='icon-notifi'></i></a>
                </li>
        	    <li class="my_message">
                    <a href="/u/1970734/messages" title="我的消息" target="_blank">
                        <span class="msg_icon" style="display: none;"></span>
                        <i class="icon-mail"></i>
                        <span style="display: none;">我的消息</span>
                    </a>
                </li>
                <li class="set_btn user-card-box">
                    <a id="header-avator" class="user-card-item" action-type="my_menu"  href="/u/1970734" target="_self"><img src='http://img.mukewang.com/user/545845e900013e3e02200220-40-40.jpg' width='40' height='40' />
                        <i class="myspace_remind" style="display: none;"></i>
                        <span style="display: none;">动态提醒</span>
                    </a>
                    <div class="g-user-card">
                        <div class="card-inner">
                            <div class="card-top">
                                <a href='/u/1970734'><img src="http://img.mukewang.com/545845e900013e3e02200220-100-100.jpg" alt="chickencyj" class="l"></a>
                                <a href='/u/1970734'><span class="name text-ellipsis">chickencyj</span></a>
                                <p class="meta">
					<a href="/u/1970734/experience">经验<b id="js-user-mp">5919</b></a>
					<a href="/u/1970734/credit">积分<b id="js-user-credit">1</b></a>            </p>
                    
                                <a href='/user/setprofile' class='icon-set setup'></a>
                            </div>
                            <!--
                            <div class="card-links">
                                <a href="/space/index" class="my-mooc l">我的慕课<i class="dot-update"></i></a>
                                <span class="split l"></span>
                                <a href="/myclub/myquestion/t/ques" class="my-sns l">我的社区</a>
                            </div>
                            -->
                                                        <div class="card-history">
                                <span class="history-item">
                                    <span class="tit text-ellipsis">进击Node.js基础（二）</span>
                                    <span class="media-name text-ellipsis">1-2 先从一个牛逼闪闪的知识点 Promise 讲起</span>
                                    <i class="icon-clock"></i>
                                                                            <a href="/video/11549" class="continue">继续</a>
                                                                    </span>
                            </div>
                                                        <div class="card-sets clearfix">
                                <a href="/wenda/save" target="_blank" class="l mr30">发问题</a>
                                <a href="/article/publish" target="_blank" class="l">写手记</a>
                                <a href="/passport/user/logout?referer=http://www.imooc.com" class="r">退出</a>
                            </div>
                        </div>
                        <i class="card-arr"></i>
                    </div>
                </li>
            </ul>
        </div>
                <!--
        <div class="app-down-area r">
            <a href="/mobile/app">
                <i class="header-app-icon"></i>慕课APP
            </a>
        </div>
        -->
        
        
        <div class='search-warp clearfix' style='min-width: 32px; height: 60px;'>
            <div class="search-area min" data-search="top-banner">
                <input class="search-input" data-suggest-trigger="suggest-trigger" placeholder="请输入想搜索的内容..." type="text" autocomplete="off">
                <input type='hidden' class='btn_search' data-search-btn="search-btn" />
                <ul class="search-area-result" data-suggest-result="suggest-result">
                </ul>
            </div>
            <div class='showhide-search' data-show='no'><i class='icon-search'></i></div>
        </div>
    </div>
</div>


<div id="main">

<div class="settings-cont clearfix">

  <div class="setting-left l">
    <ul class="wrap-boxes">
      <li class="active">
        <a href="/user/setprofile" class="onactive">个人资料</a>
      </li>
      <li >
         <a href="/user/setavator">头像设置</a>
       </li>
       
      <li >
        <a href="/user/setphone">手机设置</a>
                    <span class='unbound'>未绑定</span>
              </li>
      
      <li >
        <a href="/user/setverifyemail">邮箱验证</a>
              </li>
      <li >
        <a href="/user/setresetpwd">修改密码</a>
      </li>
      <li >
        <a no-pjajx href="/user/setbindsns">绑定帐号</a>
      </li>
    </ul>
  </div>
  <div class="setting-right">
    <div class="setting-right-wrap wrap-boxes settings" >
        

<div id="setting-profile" class="setting-wrap setting-profile">
    <form id="profile" >
    
        <div class="wlfg-wrap clearfix">
            <label class="label-name" for="nick" >昵称</label>
            <div class="rlf-group">
                <input type="text" name="nickname" id="nick"  autocomplete="off"  data-validate="nick"  class="input rlf-input rlf-input-nick" value="chickencyj" placeholder="请输入昵称."/>
                <p class="rlf-tip-wrap"></p>
            </div>
        </div>
        
        <div class="wlfg-wrap clearfix">
            <label class="label-name" for="job">职位</label>
            <div class="rlf-group">
                <select class="input rlf-select" name="job" hidefocus="true" id="job">
                    <option value="">请选择职位</option>
                                            <option value="1" >页面重构设计</option>
                                            <option value="6" >Web前端工程师</option>
                                            <option value="5" >JS工程师</option>
                                            <option value="8" >PHP开发工程师</option>
                                            <option value="11" >JAVA开发工程师</option>
                                            <option value="7" >移动开发工程师</option>
                                            <option value="9" >软件测试工程师</option>
                                            <option value="10" >Linux系统工程师</option>
                                            <option value="2" >交互设计师</option>
                                            <option value="3" >产品经理</option>
                                            <option value="15" >数据库工程师</option>
                                            <option value="4" >UI设计师</option>
                                            <option value="13"  selected="selected">学生</option>
                                    </select>
                <p class="rlf-tip-wrap"></p>
            </div>
        </div>
        
        <div class="wlfg-wrap clearfix">
            <label class="label-name" for="province-select">城市</label>
            <div class="rlf-group profile-address">
                <select id="province-select" class='input' hidefocus="true">
                    <option value="0">选择省份</option>
                                            <option value="1">北京</option>
                                            <option value="2">天津</option>
                                            <option value="3">河北</option>
                                            <option value="4">山西</option>
                                            <option value="5">内蒙古</option>
                                            <option value="6">辽宁</option>
                                            <option value="7">吉林</option>
                                            <option value="8">黑龙江</option>
                                            <option value="9">上海</option>
                                            <option value="10">江苏</option>
                                            <option value="11">浙江</option>
                                            <option value="12">安徽</option>
                                            <option value="13">福建</option>
                                            <option value="14">江西</option>
                                            <option value="15">山东</option>
                                            <option value="16">河南</option>
                                            <option value="17">湖北</option>
                                            <option value="18">湖南</option>
                                            <option value="19">广东</option>
                                            <option value="20">海南</option>
                                            <option value="21">广西</option>
                                            <option value="22">甘肃</option>
                                            <option value="23">陕西</option>
                                            <option value="24">新疆</option>
                                            <option value="25">青海</option>
                                            <option value="26">宁夏</option>
                                            <option value="27">重庆</option>
                                            <option value="28">四川</option>
                                            <option value="29">贵州</option>
                                            <option value="30">云南</option>
                                            <option value="31">西藏</option>
                                            <option value="32">台湾</option>
                                            <option value="33">澳门</option>
                                            <option value="34">香港</option>
                                            <option value="100">其他</option>
                                    </select>
                <select class='input' id="city-select" hidefocus="true">
                    <option value="0">选择城市</option>
                                    </select>
                <select class='input mr0' id="area-select" hidefocus="true">
                    <option value="0">选择区县</option>
                                    </select>
                <p class="rlf-tip-wrap"></p>
            </div>
        </div>
        
        <div class="wlfg-wrap clearfix">
            <label class="label-name" >性别</label>
            <div class="rlf-group rlf-radio-group">
                <label ><input type="radio" hidefocus="true" value="0"   name="sex">保密</label>
                <label ><input type="radio" hidefocus="true" value="1" checked="checked" name="sex">男</label>
                <label ><input type="radio" hidefocus="true" value="2"  name="sex">女</label>
            </div>
            <p class="rlf-tip-wrap"></p>
        </div>
        
        <div class="wlfg-wrap clearfix">
            <label class="label-name" for="aboutme">个性签名</label>
            <div class="rlf-group">
                <textarea name="aboutme" id="aboutme" cols="30" rows="5" class="textarea"></textarea>
                <p class="rlf-tip-wrap"></p>
            </div>
        </div>
        
        <div class="wlfg-wrap clearfix">
            <label class="label-name" for=""></label>
            <div class="rlf-group">
                <span id="profile-submit"  hidefocus="true"  aria-role="button" class="rlf-btn-green btn-block profile-btn">保存</span>
            </div>
        </div>
    </form>
    
</div>


    </div>
  </div>
  
</div>

</div>

<div id="footer" >
    <div class="waper">
        <div class="footerwaper clearfix">
            <div class="followus r">
                <a class="followus-weixin" href="javascript:;"  target="_blank" title="微信">
                    <div class="flw-weixin-box"></div>
                </a>
                <a class="followus-weibo" href="http://weibo.com/u/3306361973"  target="_blank" title="新浪微博"></a>
                <a class="followus-qzone" href="http://user.qzone.qq.com/1059809142/" target="_blank" title="QQ空间"></a>
            </div>
            <div class="footer_intro l">
                <div class="footer_link">
                    <ul>
                        <li><a href="http://www.imooc.com/" target="_blank">网站首页</a></li>
                        <li><a href="/about/job" target="_blank">人才招聘</a></li>
                        <li> <a href="/about/contact" target="_blank">联系我们</a></li>
                        <li><a href="http://yun.imooc.com/" target="_blank">慕课云</a></li>
                        <li><a href="/corp/index" target="_blank">合作专区</a></li>
                        <li><a href="/about/us" target="_blank">关于我们</a></li>
                        <li> <a href="/about/recruit" target="_blank">讲师招募</a></li>
                        <li> <a href="/user/feedback" target="_blank">意见反馈</a></li>
                        <li> <a href="/about/friendly" target="_blank">友情链接</a></li>
                    </ul>
                </div>
                <p>Copyright © 2016 imooc.com All Rights Reserved | 京ICP备 13046642号-2</p>
            </div>
        </div>
    </div>
</div>


<div id="J_GotoTop" class="elevator">
    <a href="javascript:void(0)" class="elevator-top" style="display:none" title="返回顶部" id="backTop"><i class="icon-up2"></i></a>   
    <a href="/user/feedback" class="elevator-msg" title="意见反馈"><i class="icon-feedback"></i></a>  
    <a href="javascript:" class="elevator-app" title="app下载">
      <i class="icon-appdownload"></i>
      <div class="elevator-app-box"></div>
    </a>
    <a href="javascript:" class="elevator-weixin" title="官方微信">
      <i class="icon-wxgzh"></i>
      <div class="elevator-weixin-box"></div>
    </a>    
</div>



<!--script-->
<script src="/passport/static/scripts/ssologin.js?v=2.0"></script>
<script type="text/javascript" src="/static/sea-modules/seajs/seajs/2.1.1/sea.js"></script>
<script type="text/javascript" src="/static/sea_config.js?v=201606221750"></script>
<script type="text/javascript">seajs.use("/static/page/"+OP_CONFIG.module+"/"+OP_CONFIG.page);</script>

 


<div style="display: none">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Ff0cfcccd7b1393990c78efdeebff3968' type='text/javascript'%3E%3C/script%3E"));
(function (d) {
window.bd_cpro_rtid="rHT4P1c";
var s = d.createElement("script");s.type = "text/javascript";s.async = true;s.src = location.protocol + "//cpro.baidu.com/cpro/ui/rt.js";
var s0 = d.getElementsByTagName("script")[0];s0.parentNode.insertBefore(s, s0);
})(document);
</script>
<script>
(function(){
    var bp = document.createElement('script');
    bp.src = '//push.zhanzhang.baidu.com/push.js';
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>
</div>
</body>
</html>
