pre {
	background: none;
	border: none;
}

body {
	background: #fff;
	color: #222;
	cursor: auto;
	font-family: 'Lucida Grande', Lucida Sans Unicode, Hiragino Sans GB, WenQuanYi Micro Hei, Verdana, Aril, sans-serif;
	font-style: normal;
	font-weight: normal;
	position: relative;
	padding-top: 50px;
}

textarea {
	resize: none;
}

label:hover {
	cursor: pointer;
}

a {
	color: #008cba;
	line-height: inherit;
	cursor: pointer;
}

a:hover,
a:visited,
a:active,
a:link {
	text-decoration: none;
}

@media only screen and (min-width: 768px) {
	.miss_btn {
		display: none!important;
	}
}

@media only screen and (max-width: 768px) {
	.menu_btn {
		display: none;
	}
	.navbar-collapse .nav {
		margin-left: 0!important;
	}
	.navbar-collapse .nav li:nth-child(2) {
		margin: 0!important;
	}
	.navbar-collapse .nav li:nth-child(2) a {
		width: 68px;
		border-radius: 3px;
	}
	#article .row>div:nth-child(1) {
		min-height: 0px!important;
	}
	#article .row>div:nth-child(2) {
		display: none;
	}
	#article .row>div:nth-child(4) {
		margin: 0px!important;
	}
	.post-content-preview {
		font-size: 13px!important;
	}
}

.is_visible {
	position: fixed;
	top: -61px;
	border-bottom: 1px solid #f2f2f2;
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
}

.navbar-collapse .nav {
	margin-left: 50px;
}

.navbar-form {
	margin-left: 50px;
	margin: 5px 0 !important;
	border: 0;
	padding: 0
}

.navself {
	transition: all .2s;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9) 0, rgba(0, 0, 0, 0) 95%, rgba(0, 0, 0, 0) 99%);
	border: none;
}

.header_headline a {
	font-family: 'Lora', 'Times New Roman', serif;
	font-size: 22px;
	font-style: italic;
	color: #fff !important;
}

.header_search,
.header_search_btn {
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9) 0, rgba(0, 0, 0, 0) 95%, rgba(0, 0, 0, 0) 99%);
	color: #fff;
	border-color: #fff;
}

.menu_btn {
	position: relative;
	float: right!important;
	margin-right: 150px;
	height: 45px;
	line-height: 45px;
	width: 45px;
}

.header_icon {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 20;
	width: 50px;
	height: 50px;
	cursor: pointer;
	border-radius: 50%;
	transition: all .1s;
}

.header_icon:hover {
	left: -10px;
	top: 5px;
	width: 65px;
	height: 65px;
	transition: all .1s;
}

.menu_profile {
	display: none;
	position: absolute;
	left: 50%;
	top: 45px;
	padding: 25px 0 5px 0;
	width: 260px;
	margin-left: -130px;
	background: rgba(255, 255, 255, .2);
	box-shadow: rgba(0, 0, 0, 0.16) 0 2px 4px;
	list-style: none;
	z-index: 10;
	border-radius: 0 0 4px 4px;
}

.menu_info {
	text-align: center;
	color: #34aff9;
}

.menu_wrap {
	margin: 0 30px;
	overflow: hidden;
}

.menu_number {
	border-top: 1px solid #e5e9ef;
	padding: 10px 0;
}

.menu_number li {
	display: inline-block;
	width: 80px;
}

.menu_number li:nth-child(2n) {
	text-align: right;
	margin-left: 25px;
}

.menu_number li:nth-child(2n+1) {
	margin-right: 10px;
}

.reg_btn {
	border-radius: 2px;
	font-size: 14px;
	font-weight: 500;
	margin: 0;
	min-width: 0;
	padding: 18px 20px;
	color: #fff;
	background-color: #f96816;
	border: none;
	display: inline-block;
}

.reg_btn:hover {
	color: #10120f;
}

.header_github {
	width: 150px;
	height: 150px;
	position: absolute;
	overflow: hidden;
	top: 0;
	z-index: 9999;
	pointer-events: none;
	right: 0;
}

.header_github_fork {
	position: absolute;
	padding: 4px 25px;
	background-color: #a00;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.15)));
	background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
	background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
	background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
	background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
	-webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5);
	box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5);
	font: 700 13px "Helvetica Neue", Helvetica, Arial, sans-serif;
	z-index: 9999;
	pointer-events: auto;
	background-color: #6c9548;
	top: 35px;
	right: -33px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

.header_github_fork a {
	color: #fff;
}

.header_title {
	text-align: center;
	font-family: 'Lora', 'Times New Roman', serif;
	font-style: italic;
	color: #fff !important;
}

.header_link a,
.header_link:nth-child(n) {
	font-weight: 500;
	font-size: 1em;
	color: #34aff9 !important;
	transition: color .2s;
}

.header_link {
	display: inline-block;
	width: 100px;
	text-align: center;
	padding: 18px 0;
}

.header_link:hover {
	background-color: rgba(99, 99, 99, .2);
	cursor: pointer;
}

#posttitle,
#posttag {
	width: 200px;
	display: inline-block;
}

#back_top {
	position: fixed;
	bottom: 30px;
	margin-left: 1040px;
	z-index: 100;
}

#back_top a {
	width: 54px;
	height: 54px;
	display: block;
	background: #ddd url(http://7xsn9b.com1.z0.glb.clouddn.com/Back-Top_Arrow.png) no-repeat center center;
	background-color: #aaa;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}

#back_top a:hover {
	background-color: #333;
	transition: 1s;
}


/* footer */

.blog_footer {
	padding-top: 40px;
	padding-bottom: 40px;
	margin-top: 20px;
	font-size: 12px;
	line-height: 1.5;
	color: #767676;
	border-top: 1px solid #eee;
}

.blog_footer img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	transition: all 1000ms ease-in-out;
}

.blog_footer img:hover {
	transform: rotate(360deg);
	transition: all 1000ms ease-in-out;
}